body {
  width: 100%;
  height: 100%;
  margin: 0;
}


header {
  text-align: center;
}

img {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  text-align: center;
  font-size: 10px;
}

a {
  padding: 10px;
  background-color: grey;
  padding-left: 10px;
  padding-right: 10px;
}

p #featured-property{
  text-align: center;
  width: 800px;
}

div #details{
  display: block;
  float: left;
}